/* src/styles/main.scss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 10px;
    height: 2px;
    background: #8A2BE2;
}

/* En tu archivo de estilos CSS */
@keyframes slide {
    0% {
      transform: translateX(-142%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .animate-slide {
    animation: slide 10s linear infinite; /* Puedes ajustar la duración según necesites */
  }

  @keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}

.animate-shake {
    animation: shake 0.5s ease-in-out;
}

.animate-twice {
    animation-iteration-count: 2;
}

.animate-duration-500 {
    animation-duration: 500ms;
}

.animate-ease-linear {
    animation-timing-function: linear;
}

.formal-text {
    letter-spacing: 0.05em; /* Espaciado entre letras */
    line-height: 1.2;       /* Altura de línea para mejor legibilidad */
    font-family: 'Helvetica', sans-serif;
}